* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: white;
    width: 100%;
    margin: auto;
}

.top-nav {
    margin: 2px;
    padding: 5px;
    background-color: rgb(231, 247, 246);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
}

.subscribe {
    width: 100px;
    padding: 5px;
    border-radius: 40%;
    font-size: 1.5rem;
}

.logo,
a,
button {
    cursor: pointer;
}

ul,
li,
a:hover {
    color: brown;
}

.web-image {
    width: 50%;
    height: 300px;
    border: none;
    border-bottom: 10px;
}

.right-side {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 68, 70);
}

div {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: darksalmon;
    border: none;
    margin: 10px right;
}

.text {
    text-align: center;
}

span {
    color: darksalmon;
}

.mid-items {
    display: flex;
    flex-direction: column;
    background-color: rgb(52, 52, 51);
}

.person-image {
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    border: none;
}

.comment {
    margin: 10px;
    padding: 5px;
    background-color: darksalmon;
}

.footer {
    padding: 3px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(117, 117, 119);
    color: rgb(21, 21, 21);
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 2rem; */
}
.bx{
    font-size: 3rem;
}